
body {
}

#Heading {
    color: white;
    font-size: 25px;
}

.container {
    display: flex;
    padding: 40px;
    background-color: seagreen;
}

.container2 {
    display: flex;
    padding: 10px;
    width: 100%;
    background-color: mediumaquamarine;
}

.headingdessert {
    font-family: "Lucida Console", "Courier New", monospace;
}
